<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./portfolio.html" title="">Portfolio</a></li>
          <li><a href="./skills.html" title="">Skills</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2"> About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Hi there, I'm Emily</h3>
                  <p>I'm a software development consultant and career-changer.</p>
                  <p>I kickstarted my tech career with roles at two different financial institutions before moving on to work on some internal projects with FDM Group.

<p>While I've previously worked with Java, Spring, Spring Boot, React and Angular, I'm currently exploring the Python ecosystem.</p>
<p>I consider myself first and foremost to be a developer, but I'm also interested in data and cloud, and therefore open to roles in those spaces.</p>
</p>
                  
                  <h3>Why tech?</h3>
                  <p>I studied Modern Languages at the University of Sheffield, and while it was a good experience, I never felt that it was the 'right' degree for me.
                  Admittedly, computing lessons, when I was at school, weren't what they are nowadays, so computer science never crossed my mind as a subject to study at a higher level.
                  The 'closest' I got was Maths A Level (which is hardly Computer Science is it). Especially given that the one module that might have been somewhat useful (Decision Mathematics)
                  as the one module my school didn't offer!!
                  </p>
                  <p> 
                  I'm a self-confessed 'geek'. I love learning, problem-solving, and experimenting with new technologies. I find joy in crafting solutions to complex problems, and from my perspective, the world of tech provides the perfect canvas for my creative coding endeavours.</p>
                  <p>The fact that it is impossible to know every programming language, library and framework out there, makes it all the more exciting</p>
                  <p>Above all, the potential to work on innovative projects, while using technology to solve real-world problems, contributing to projects that have a positive impact on people's lives around the world, is what most excites me about working in tech.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/images/emily.jpg" class="img-responsive" alt="">
                </div>
                <div>
                  <div class="empty" style="height:400px; width:500px">

                  </div>
                  <p>I enjoy attending tech events; this year I attended a two-day, all-female hackathon, Athena Hack, organised by ShowCode.
                    as well as the launch event of the JavaScript framework Qwik.
                  </p>
                  <p>I'm an advocate for mental health and women in technology.</p>
                  <p>While much great work has been done to attract women into technology, such as the many initiatives of Code First Girls, only 24% of developer positions are held
                    by women, and many of those still have a STEM background, as opposed to a humanities or arts degree. 
                    Far too women *still* face various forms of discrimination within the tech space; there's still much ground to cover in the journey toward true equality.  
                    <img src="./static/images/joannak.png" alt="emilycomesfromafamilyofintellectuals"
                    style="height:630px; width:450px">
                    <br>
                    <br style="margin-left: 400px">
                    Above: My maternal (Irish) grandmother with her Maths Degree.
                </div>
                  </p>
            
                </div>
               
              </div>
              
            </div>
           
          
          
       </div>
      </div>
    </div>
  </div>




<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>



 <script type="text/javascript" src="main.70a66962.js"></script></body>

</html>