<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./portfolio.html" title="">Portfolio</a></li>
          <li><a href="./skills.html" title="">Skills</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">Portfolio</h1>
          <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies, nisl nunc pulvinar ligula, id sodales arcu sapien in nisi. Quisque libero enim, mattis non augue posuere, venenatis dapibus urna.</p>
        </div>
      </div>

      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">

        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">

                      <a href="./portfolio_detail.html" title="" class="black-image-project-hover">
                        <img src="./static/images/chitter.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Chitter</h3>
                        <p>A Sinatra/postgresql application designed to mimic a simple version of the popular microblogging site - Twitter.</p>
                        <a href="https://github.com/emilyjspencer/chitter-challenge" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./portfolio_detail.html" title="" class="black-image-project-hover">
                        <img src="./static/images/globalreads.png" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Global Reads</h3>
                        <p>A Rails application to support the Global Reading Project - a reading initiative at UHS Wimbledon</p>
                        <a href="https://github.com/emilyjspencer/Global-Reads" title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./portfolio_detail.html" title="" class="black-image-project-hover">
                        <img src="./static/images" alt="" class="img-responsive">
                      </a>
                      <div class="card-container card-container-lg">
                        <h3>Dancewear</h3>
                        <p>A dancewear shop (based on my favourite dancewear store: Dance Direct)</p>
                        <a href="https://github.com/emilyjspencer/dancewear-app", title="" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
             
            </div>
           
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="./portfolio_detail.html" class="black-image-project-hover">
                      <img src="./static/images/" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container">
                      <h3>Tradus</h3>
                      <p>A currency converter.</p>
                      <a href="https://64bd565ba6f4893f194be119--graceful-beijinho-fee577.netlify.app/" class="btn btn-default">Discover</a>
                    </div>
                  </div>
                   <div class="col-sm-4">
                      <a href="./portfolio_detail.html" class="black-image-project-hover">
                        <img src="./static/images" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h3>Pristine Pics</h3>
                        <p>Pristine Pics - a React application which allows you to upload your favourite pictures</p>
                        <a href="https://github.com/emilyjspencer/Pristine-Pics" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
                      <a href="./portfolio_detail.html" class="black-image-project-hover">
                        <img src="./static/images" alt="Image" class="img-responsive">
                      </a>
                      <div class="card-container">
                        <h3>Finbot</h3>
                        <p>"A chat bot designed with young people in mind to advise them on matters of personal finance. Makers final project</p>
                        <a href="https://github.com/nikimanoledaki/finbot-api" class="btn btn-default">Discover</a>
                      </div>
                    </div>
                    
                </div>
             
            </div>
            
         
        </div>
    
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>




    </div>



    </div>
  </div>
</div>




<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

 <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>